<!DOCTYPE html>
<html>
  <head></head>
  <body>
    <h1></h1>
    <nav><a href="#">Home</a><a href="#">About Us</a><a href="#">Gallery</a><a href="#">Contact Us</a></nav>
    <h1 id="pageTitle">Welcome to clamour interface</h1>
    <p class="big-paragraph">
      This is a test paragraph
      So let's see how well it works.
    </p>
    <ul>
      <li>This is an item 1</li>
      <li>This is an item 2</li>
      <li>This is an item 3</li>
    </ul>
    <div class="display-box"></div>
    <div id="myOnlyDiv"></div>
    <imput type="password" name="inpPwd" data-js="OK"></imput>
    <div class="my-div class1 class2 class3"></div>
    <div style="color:red;background-color:blue;"></div><img src="myPhoto.png" alt="This is my photo">
  </body>
</html>