doctype html
html
  head
    title Point d.origine
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="apple-touch-icon", sizes="180x180", href="/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="/favicon-16x16.png")
    link(rel="manifest", href="/site.webmanifest")
    meta(name="apple-mobile-web-app-title", content="Point d.origine")
    meta(name="application-name", content="Point d.origine")
    meta(name="msapplication-TileColor", content="#000000")
    meta(name="theme-color", content="#00ffb5")
    meta(name="msapplication-starturl" content="/")
  body
    #app
      block content

    block vue_handler