extends layout

block scripts
  script(src="/javascripts/vue.min.js")
  script(src="/javascripts/axios.min.js")

block mixins
  include ./mixins/tag_element.pug

block content
  div#vue-network
    cruel-world

    input#button_network_scan(type="button" v-on:click="scan_network"          value="Scan network")
    input#button_network_scan(type="button" v-on:click="start_devices"         value="Start visit")
    input#button_network_scan(type="button" v-on:click="stop_download_devices" value="Stop visit and download")
    
    p#text {{selected}}

  - var n = 0;
  ul
    while n < tag_number
      li= n++

  ol
    todo-item

block vue_handler
    script(src="/javascripts/bundle.js")