mixin comment(commentData)
    .comment
        if commentData.postedByAdmin
            em (Posted by admin)
        .date= commentData.date
        .author= commentData.author
        .text= commentData.text

doctype html
html
    head
        title Mixins in pug
        style.
            .comment {
                font-family: sans-serif;
                line-height: 1.5;
                padding: 10px;
                border: 1px solid #555;
                width: 250px;
            }
            .date {
                font-size: 85%;
            }
            .author {
                font-size: 110%;
                font-weight: bold;
            }
            .text {
                font-size: 100%;
            }

    body
        - const c = {postedByAdmin: true, date: '04-02-2018', author: 'dcode', text: 'Hey mate great tutorial'}
        +comment(c)
        - const c1 = { date: '04-02-2003', author: 'marco', text: 'Oulala'}
        +comment(c1)